@CHARSET "ISO-8859-1";

html {
padding-top: 15px;
background-image: url(images/bg_page.png); 
background-color: rgb(250,250,239);
}

body {
width: 86%;
padding: 1px;
margin: 0 auto;
box-shadow: 10px 10px 10px rgba(0,0,0,.5);
background-color: #E1EDEB;
}

/*h1{	
font-family: 'Gravitas One', 'Arial Black', serif;
font-weight: normal;
color: #666666;	
font-size: 3.0em; 
margin: 0;
}*/

p {
font-family: "Palatino Linotype", Baskerville, serif;
color: #616161;
line-height: 150%;
margin-top: 10px;
margin-left: 80px;
}

h2 {
color: #B1967C; /*#666666;*/
font-family: 'Gravitas One', 'Arial Black', serif;
font-weight: normal;
font-size: 1.8em;
border-bottom: 2px white solid;
background: url(images/head-icon.png) no-repeat 10px 10px;
padding: 0 0 2px 60px;
margin: 0; 
}

.intro {
color: #6A94CC;
font-family: Arial, Helvetica, sans-serif;
font-size: 1.2em;
margin-left: 0;
margin-bottom: 25px;
}

h1 {
	color: #003366;
	font-family: 'Gravitas One', 'Arial Black', serif;
	font-weight: normal;
	font-size: 2.2em;
	border-bottom: 2px white solid;
	background: url(images/head-icon.png) no-repeat 10px 10px;
	padding: 0 0 2px 60px;
	margin: 0; 
}
.pullquote {
	float: right;
	clear: right;
	width: 140px;
	height: 420px;
	border: 1px solid black;
	padding: 10px;
	font-size: 20px;
	background-color:#E1EDEB;
	margin: 20px 0 10px 10px;
	font-style: italic;
	color:  #003366;
	position:absolute;right:100px; top:245px;
	/*border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;*/
}

.pullquote2 {
	float: right;
	clear: right;
	width: 140px;
	height: 150px;
	border: 1px solid black;
	padding: 10px;
	font-size: 20px;
	background-color:rgb(188, 200, 234);
	margin: 20px 0 10px 10px;
	font-style: italic;
	color: rgb(7, 11, 23);
	position:absolute;right:100px; top:135px;
}

#banner {
background: #CC0000;
height: 300px;
width: 720px;
}

.externalLink{
font-size: 1.1em;
color: #6A94CC;	

}

.highlight{
	color: #6A94CC;	
}

#button {
color:  #003366;
}
